@import "bg.css";
@import "todo.css";
@import "login-form.css";
@import "weather.css";
@import "quote.css";


* {
  font-family: "Playwrite DK Uloopet", cursive;
}

body html {
  margin: 0;
  overflow: hidden;
  padding: 0;
}


.main-body {
  margin: auto;
  text-align: center;
  color: white;
}

#clock {
  font-size: 60px;
  background-color: rgba(166,159, 163, 0.2);
  padding: 10px;
  border-radius: 10px;
}


.hidden {
  display: none;
}

#greeting {
  font-size: 50px;
  position: relative;
  top: 280px;
}


