@import "bg.css";
@import "todo.css";
@import "login-form.css";
@import "weather.css";


* {
  box-sizing: border-box;
   }

body {
  overflow: hidden;
}

.hidden {
  display: none;
}

#quote {
  text-align: center;
}

