@import "bg.css";
@import "todo.css";
@import "login-form.css";
@import "weather.css";
@import "quote.css";


* {
  box-sizing: border-box;
   }

body html {
  margin: 0;
  overflow: hidden;
  padding: 0;
  height: 100%;
}


.main-body {
  margin: auto;
  text-align: center;
  color: white;
}

.hidden {
  display: none;
}

#quote {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

